# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exe
*.ilk
*.pdb
*.idb

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio garbage files
*.suo
*.log
*.tlog
*.opensdf
*.sdf
*.lastbuildstate

# SFML
*.dll